.container {
  @apply flex flex-col w-full px-4
}

.header {
  @apply flex flex-col mb-8 gap-5
}

.title {
  @apply text-main font-normal
}

.toggleButtons {
  @apply flex space-x-3 overflow-x-auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.toggleButtons::-webkit-scrollbar {
  display: none;
}

.Button {
  @apply px-6 py-3 rounded-large xl:text-base 2xl:text-xl font-light
}

.activeButton {
  @apply bg-gray text-white
}

.inactiveButton {
  @apply bg-gray_icon text-gray_overlay
}

.containerContent {
  @apply flex flex-col p-3 bg-gray_light rounded-3xl w-full;
}

.carousel {
  @apply w-full h-full
}

.image {
  @apply h-80 object-cover rounded-2xl
}

.link {
  @apply flex text-xl text-orange-extra gap-3 mt-4 font-light ;
}

.text {
  @apply flex flex-col gap-6 p-8
}

.text h3 {
  @apply text-h2
}

.text p {
  @apply text-base text-gray_text_light
}