.container {
  @apply flex flex-col w-full mt-16 px-4
}

.header {
  @apply flex flex-col mb-8 gap-5
}

.title {
  @apply text-main font-normal
}

.toggleButtons {
  @apply flex space-x-3 overflow-x-auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.toggleButtons::-webkit-scrollbar {
  display: none;
}

.Button {
  @apply px-6 py-3 rounded-large xl:text-base 2xl:text-xl font-light
}

.activeButton {
  @apply bg-gray text-white
}

.inactiveButton {
  @apply bg-gray_icon text-gray_overlay
}

.containerContent {
  @apply flex flex-col p-3 bg-gray_light rounded-large w-full;
}

.carousel {
  @apply w-full h-full rounded-3xl
}

.image {
  @apply h-full object-cover rounded-3xl
}

.content {
  @apply flex flex-col justify-between p-8
}

.button {
  @apply text-white;
  margin-top: 10%;
}

.button button {
  @apply flex justify-center w-full py-4 bg-gray rounded-2xl
}

.text {
  @apply flex flex-col gap-6
}

.text h3 {
  @apply text-h2
}

.text p {
  @apply text-base text-gray_text_light
}
